@import "tailwindcss";

/* ===== FONT SATOSHI ===== */
@font-face {
  font-family: "Satoshi-Variable";
  src: url("/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-VariableItalic.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* ===== BASE RESET ===== */
@layer base {
  html,
  body,
  #root {
    @apply h-full bg-black text-white;
    font-family: "Satoshi-Variable", system-ui, sans-serif;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  a {
    @apply bg-transparent;
  }

  main {
    @apply block;
  }

  p {
    @apply block my-4;
  }
}
